h1, h2, h3, h4, p, a {
  font-family: montserrat,sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 26px;
}

p {
  font-size: 16px;
  line-height: 40px;
}

.Legal {
  font-weight: 300;
  font-size: 10px;
  font-style: italic;
  line-height: 30px;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
}

.Background-Logo {
  position: fixed;
  top: 50%;
  right: -30%;
  width: 100vw;
  height: auto;
  transform: translateY(-50%)
}

.Background-Logo svg {
  opacity: 0.07;
}

.Maintance-Container {
  flex: 1;
  width: 90%;
  margin: 0 auto;
  max-width: 1150px;
  padding-left: 95px;
  border-left: 1px solid #000;
}

.Monta-Logo, .Monta-Capital-Title, .Monta-Capital-Information {
  margin-bottom: 60px;
}

.Monta-Logo {
  margin-top: 15px;
}

.Monta-Capital-Legal {
  margin-bottom: 15px;
}

.Monta-Logo .Logo {
  width: auto;
  height: 70px;
}

.Monta-Capital-Information .Information {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.Information span {
  font-weight: 300;
}

.Monta-Capital-Title {
  max-width: 950px;
}

.Monta-Capital-Title h1 {
  line-height: 45px;
}